volumes:
  caddy_data:
  caddy_config:

#TODO Create a docker network

services:
  caddy:
    image: caddy:2.10-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config

  web:
    image: nginx:1.29-alpine
    restart: unless-stopped
    volumes:
      - ./web:/usr/share/nginx/html:ro
#    expose:
#      - "80"
