mlflow.datiz.studijas.lat {
	encode gzip
	reverse_proxy mlflow:5000
}

smoking.datiz.studijas.lat {
	encode gzip
	reverse_proxy ml-app:8501
}

hotel.datiz.studijas.lat {
	encode gzip
	reverse_proxy ml-app:8501
}